:root {
  --white: #fff;
  --box-shadow: #e28686;
  --navy: #000064;
  --darkcharcoal: #333;
  --black:black;
}

.contain {
  width: 100%;
  height: 85vh;
  color: var(--white);
  /* color: black; */
  display: flex;

  /* -------------background color change ----------- */

  background-color: rgb(52, 58, 65);

  align-items: center;
  justify-content: center;
  padding-top: -50px;
}

.card {
  width: 350px;
  height: 550px;
  box-shadow: 0 0 30px var(--box-shadow);
  perspective: 1000px;
  /* background: #333; */

}

.inner-box {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 120px 45px;
  box-sizing: border-box;
  backface-visibility: hidden;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 45px;
  box-sizing: border-box;
  backface-visibility: hidden;
}


.btn1 {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 3rem;
  background:var(--gradient);
  /* color: var(--white); */
  border: 1px solid white;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.8rem;
}


.card h2 {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: -20px;
}

.card-front h2{
  padding-bottom: 3rem;
}

.input-box {
  width: 100%;
  background: transparent;
  text-transform:none !important;
  border: 1px solid var(--white);
  margin: 6px 0;
  height: 30px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: var(--white);
  font-weight: 600;
  font-size: 15px;
}

::placeholder {
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
}

button {
  width: 100%;
  background: var(--gradient);
  border: 1px solid var(--white);
  margin: 20px 0 10px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: var(--white);
  cursor: pointer;
}

.submit-btn {
  position: relative;
}

.submit-btn::after {
  content: '\27a4';
  color: var(--darkcharcoal);
  line-height: 40px;
  font-size: 17px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--white);
  position: absolute;
  right: -1px;
  top: -1px;
}

.card span {
  font-size: 14px;
  margin-left: 10px;
}

.card .btn1 {
  margin-top: 60px;
  height: 40px;
}

.card a {
  color: var(--white);
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
}

.checkbox {
  display: flex;
}

.left {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 7rem;
}
.right {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  text-align: center;
  margin-left: 1rem;
}
