@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


:root{
    --violet:#6c5ce7;
    --pink:#fc4179;
    --sky:rgb(166, 235, 214);
    --gradient: linear-gradient(90deg, var(--pink), var(--violet));
}
