video {
  height: auto;
  width: 100%;
  box-shadow: 0 0 10px 10px rgba(67, 226, 247, 0.300);
}

 h1 {
  font-size: 35px;
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  word-spacing: 4px;
  letter-spacing: 2px;
}

 h3 {
  font-size: 20px;
  margin: 5px;
  margin-bottom:-5px;
  margin-top: 35px;
  color: rgb(248, 45, 221);
  text-transform: uppercase;
  word-spacing: 4px;
  letter-spacing:2px;
}

 p {
  font-size: 16px;
  margin: 5px;
  font-weight: 400;
  word-spacing: normal;
  line-height: 25px;
  text-transform: none;
}
