:root {
  --pinki: rgb(248, 45, 221);
  --box-shadow: rgba(0, 0, 0, .2);
}

.python h1 {
  font-size: 28px;
  text-align: center;
  margin: 20px;
}

.tube {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 5rem;
}

/* -----------------youtube title and heading ----------------- */
.video h2 {
  font-size: 2rem;
  color: var(--pinki);
  margin-top: 12px;
}

.video h3 {
  font-size: 1.7rem;
  margin-bottom: 15px;
}

.video p {
  font-size: 1.7rem;
  text-transform: none;
}

.tube .video {
  flex: 1 1 30rem;
  border-radius: .5rem;
  border: .2rem solid var(--box-shadow);
  padding: 1rem;
  margin: 1rem;
}

.tube .video iframe {
  box-shadow: 0 15px 50px rgba(67, 226, 247, 0.589);
  height: auto;
  width: 100%;
}

@media (max-width:768px) {
  .python h1 {
    font-size: 23px;
    margin: 10px;
  }

  .python iframe {
    height: 210px;
    width: 260px;
    margin-left: 5px;
    margin-bottom: 15px;
  }

  .tube {
    margin: auto;
  }
}
