.python h1{
    font-size: 28px;
    text-align: center;
    margin: 20px;
}

.python iframe{
    height: 300px;
    width: 400px;
    padding: 5px;
    align-items: center;
    
}

.tube {
    /* display: flex;
    flex-wrap: wrap; */
    gap: 20px;
    padding-left: 7.5rem;
    margin-bottom: 5rem;

}